/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Water+Brush&display=swap');

/* Variables */

:root {
    /*--nombre_de _la_variable: valor_propiedad */
    --main-color: #494949;
    --primary-color: #7090c2;
    --secondary-color: #dfdede;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color)
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 10px 0;
}

hr {
    margin: 25px 0;
    background: #c4c4c4;
    height: 1px;
}


/* Clases Generales*/
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}


/* Navegador */
nav {
    overflow: auto;
}

nav .logo {
    float: left;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Water Brush', cursive;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    text-align: center;
    color: #333333;
    font-weight: 500;
}

nav ul li a:hover,
nav ul li a.active {
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* Banner */
#banner-home {
    background-image: url('/img/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    padding: 50px;
}

#banner .container {
    margin: 0 auto;
}

#banner-home {
    position: relative;
}

.banner-info {
    background: #ffffffb2;
    width: 60%;
    height: 140px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    padding: 20px;
}

/* About me */
#about-me {
    background: var(--secondary-color);
    padding: 30px;
    width: 100%;
}

#about-me .container {
    overflow: auto;
}

#about-me .profile {
    width: 30%;
    float: left;
}

#about-me .info {
    width: 70%;
    float: right;
    text-align: justify;
}

/* Mis Habilidades (Portafolio) */

#portfolio {
    width: 100%;
}

#portfolio h2 {
    text-align: center;
    margin: 30px auto;
}

#portfolio .container .portfolio-nav{
    display: table;
    margin: 0 auto;
}

#portfolio .container .portfolio-nav ul {
    list-style: none;
}

#portfolio .container .portfolio-nav ul li {
    float: left;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    border: solid 1px var(--main-color);
    transition: 0.5s;
}

.portfolio-nav ul li:hover:nth-child(odd) {
    background: var(--main-color);
    color: whitesmoke;
    cursor: pointer;
}

.portfolio-nav ul li:hover:nth-child(even) {
    background: var(--primary-color);
    color: whitesmoke;
    cursor: pointer;
}


.portfolio-content {
    margin: auto;
    overflow: hidden;
}

.box {
    float: left;
    width: 33.3%;
    padding: 10px;
}

.box figcaption {
    text-align: center;
    margin-bottom: 10px;
}

.box img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    border: dashed 0.5px #c4c4c4;
    transition: 1s;
}

.box img:hover {
    transform: scale(1.05);
}

/* Footer */

footer {
    height: 60px;
    padding-top: 10px;
    margin-bottom: 20px;
    clear: both;
}

footer p {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    padding: 10px 20px;
}

footer .bx {
    font-size: 20px;
}

footer .bx:hover {
    color: var(--primary-color);
}

/* Contacto */

#banners {
    background-image: url('/img/bg-home.svg');
    height: 250px;
    position: relative;
}

#banners .banner-info {
    position: absolute;
    top: 20%;
}

#contact article {
    overflow: auto;
}

#contact {
    height: 600px;
    padding: 50px 10px;
}

.box-contact {
    float: left;
    width: 33.3%;
    text-align: center;
}

.box-contact .bx {
    padding-bottom: 20px;
}


#contact .map-form .box-map-form{
    float: left;
    width: 50%;
    padding: 60px 20px;
}

/* Mapa */

.box-map-form iframe{
    height: 300px;
    width: 100%;
}

/* Form */

#contact-form .single-form{
    margin-bottom: 20px;
}

#contact-form .single-form input,
#contact-form .single-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: #f0f0f0;
}

.btn {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: var(--main-color);
    color: whitesmoke;
    transition: 1s;
}

.btn:hover {
    background: var(--primary-color);
}

.float-right {
    float: right;
}